{% load static %}

{% block content %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />   
    <link rel="stylesheet" href="{% static "css/edit_contact.css" %}">
    <section class="box_edit">
        <header class = "back_bottom">
            <div class="back_contact">
                    <button>
                        <a href="{% url 'show_contact' contact.id %}">
                            <span class="material-symbols-outlined">
                                arrow_back
                            </span>
                            <p>Editar contato</p>
                        </a>
                    </button>
            </div>
        </header>

        <div class="card_image">
            <img src="{{ contact.get_image_url  }}" alt="Imagem"  height="42" width="42">
        </div>
        <form class="form_edit" method="post" action="{% url 'show_contact' contact.id %}"  enctype="multipart/form-data">
            {% csrf_token %}
            <label for="image">Image</label>
            <input type="file" id="image" name="image" value="{{ contact.image }}">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="{{ contact.name }}">
            <label for="email">E-mail</label>
            <input type="text" id="email" name="email" value="{{ contact.email }}">
            <label for="phone">Phone</label>
            <input type="text" id="phone" name="phone" value="{{ contact.phone }}">
            <label for="category">Category</label>
            <input type="text" id="category" name="category" value="{{ contact.category }}">
            
            <input type="submit" value="Save">
        </form>
    </section>
{% endblock %}