{% load static %}
{% comment %} Finish and fix new_contact box_form {% endcomment %}
{% block content %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />   
    <link rel="stylesheet" href="{% static "css/edit_contact.css" %}">
    <link rel="stylesheet" href="{% static "css/main-header.css" %}">
    <header class="main-header">
        <h1>Contact List</h1>
    </header>
    <section class="box_edit">
        <header class = "back_bottom">
            <div class="back_contact">
                    <button>
                        <a href="{% url 'show_contact' contact.id %}">
                            <span class="material-symbols-outlined">
                                arrow_back
                            </span>
                            <p>Edit Contact</p>
                        </a>
                    </button>
            </div>
        </header>

        <div class="card_image">
            <img src="{{ contact.get_image_url  }}" alt="Imagem"  height="42" width="42">
        </div>
        <form class="form_edit" method="post" action="{% url 'show_contact' contact.id %}"  enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="image" name="image" value="{{ contact.image }}">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ contact.name }}">
            <label for="email">E-mail:</label>
            <input type="text" id="email" name="email" value="{{ contact.email }}">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" value="{{ contact.phone }}">
            <label for="category">Category:</label>
                <select id ="category" name= "category" >
                    <option value="family">Family</option>
                    <option value="friend">Friend</option>
                    <option value="work">Work</option>
                    <option value="unknow">Unknow</option>
                </select>
            <input type="submit" id="submit" value="Save">
        </form>
    </section>
{% endblock %}