<html>
    <head>
        <title>Note Django</title>
    </head>

    <body>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap core CSS -->
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
        
        <h1>Contact List</h1>

        {% if list %}
            <ul>
                {% for contact in list %}
                    <li> {{ contact.name }} ( {{ contact.phone }})</li> 
                {% endfor %}
            </ul>
        {% else %}
        <p>Nenhum Contato
        {% endif %}
    </body>
</html>