
{% load static %}

{% block content %}
<div class="card_contact">
      <div class="card_content">
        <div class="card_image">
              <img src="{{ contact.image.url }}" alt="Imagem"  height="42" width="42">
        </div>
         <div class="card_text">
               <h4>{{ contact.name }}</h4>
               <span>{{ contact.category  }}</span>
               <br>
               <p>{{ contact.phone }}</p>
               <p>{{ contact.email }}</p>
         </div>
      </div> 
        <div class="card_button">
          <form action="{% url 'show_contact' contact.id %}">
            <button>
                  <span class="material-symbols-outlined card_edit">edit</span>
            </button>
          </form>
        </div>
</div>
  
{% endblock  %}
