{% load static %}

{% block content %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />   
    <link rel="stylesheet" href="{% static "css/show_contact_new.css" %}">
    <section class="box_show">
        <header class="box_back">
            <div class="edit_back">
                <div  class="back_home">
                    <div>
                            <button>
                                <a href="{% url 'contact_list' %}">
                                    <span class="material-symbols-outlined">
                                         arrow_back
                                    </span>
                                    <p>Back</p>
                                </a>
                            </button>
                    </div>
                </div>
                <div class="go_edit">
                    <button>
                        <a href="{% url 'edit_contact' contact.id %}">
                                <span class="material-symbols-outlined card_edit">edit</span>
                        </a>
                    </button>
                </div>
            </div>
        </header>
        <div class="card_contact">
            <div class="card_content">
                <div class="card_image">
                    <img src="{{ contact.get_image_url }}" alt="Imagem" >
                </div>
                <div class="card_text">
                    <h4>{{ contact.name }}</h4>
                    <span>{{ contact.category  }}</span>
                    <br>
                    <p>{{ contact.phone }}</p>
                    <p>{{ contact.email }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}