@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url(variables.css);
.back_bottom{
    display: flex;
    justify-content: left;
    width: 100%;
}

.back_contact {
    display: flex;
    flex-direction: row;
}
.back_contact a{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    color: black;
    justify-content: left;
}

.back_contact p{
    font-size: 12px;
}

.back_contact button{
    display: flex;
    justify-content: left;
    text-decoration: none;
    border: 0px;
    padding: 0px;
}

.form_edit {
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    align-items: center;
} 

.form_edit label{
    display: flex;
    margin-bottom: 10px;
}

.form_edit input{
    display: flex;
    margin-bottom: 12px;
}

.card_image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_image img{
    border-radius: 80px;
    width: 152px;
    height: 152px;
    display: flex;
    margin-right: 0px;
    margin-bottom: 12px;
}

.box_edit{
    margin: 0 auto 0 0;
    display: flex;
    flex-direction: column;
    background-color: var(--w-200);
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
    margin-left: 69px;
    margin-right: 69px;
    justify-content: center;
    align-items: center;
}


.form_edit form{
    justify-content: center;
    align-items: center;
}


#name ,#email, #category{
    width: 280px;
}
#phone{
    width: 114px;
}

#submit{
    margin-top: 24px;
}

.back_contact button{
    background-color: var(--w-200);
}

@media screen and (min-width: 320px){

    .main-header {
        margin-bottom: 16px;
      }
      
    .main-header h1 {
        font-size: 32px !important;
    }

    img{
        border-radius: 100%;
        width: 300px;
        height: 300px;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;
    }

    .form_edit label, input, select name{
        font-size: 22px;
    }
    .form_edit input{
        display: flex;
        margin-bottom: 22px;
    }
    .form_edit select option{
        font-size: 10px;
    }
    .form_edit select, .back_contact button span{
        font-size: 22px;
    }

    #name, #email, #category{
        width: 300px;
    }
    #phone{
        width: 45%;
    }
    
    .back_contact p{
        font-size: 32px;
    }
    
}

@media screen and (min-width: 768px){
    .main-header {
        margin-bottom: 16px;
      }
      
    .main-header h1 {
        font-size: 300% !important;
    }
    img{
        border-radius: 100%;
        width: 224px;
        height: 224px;
        justify-content: center;
        align-items: center;
        margin-bottom: 18px;
    }
    .form_edit select option{
        font-size: 18px;
    }
}