@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url(variables.css);
.back_bottom{
    display: flex;
    justify-content: left;
    width: 100%;
}

img{
    object-fit: cover;
}
.back_contact {
    display: flex;
    flex-direction: row;
}
.back_contact a{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    color: black;
    justify-content: left;
    height: 80%;
}

.back_contact p{
    font-size: 12px;
}

.back_contact button{
    display: flex;
    justify-content: left;
    text-decoration: none;
    border: 0px;
    padding: 0px;
}

.form_edit {
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    align-items: center;
} 

.form_edit label{
    display: flex;
    margin-bottom: 10px;
}

.form_edit input{
    display: flex;
    margin-bottom: 12px;
}

.card_image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_image img{
    border-radius: 80px;
    width: 152px;
    height: 152px;
    display: flex;
    margin-right: 0px;
    margin-bottom: 12px;
}

.box_edit{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
    margin-left: 70px;
    margin-right: 70px;
    align-items: center;
    justify-content: center;
    background-color: var(--w-200);
}


.form_edit form{
    justify-content: center;
    align-items: center;
}


#name ,#email, #category{
    width: 280px;
}
#phone{
    width: 114px;
}

#submit{
    margin-top: 24px;
    background: var(--bl-100);
    border: none;
    color: var(--w-100);
    border-radius: 6px;
    font-size: calc(var(--font-2)*0.6);
}

.back_bottom button span{
    color: var(--bl-100);
}

.back_contact button{
    margin-left: 12px;
    background-color: var(--w-200);
}

@media screen and (min-width: 320px){

    img{
        border-radius: 100%;
        width: 300px;
        height: 300px;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;
    }

    .form_edit label, input, select name{
        font-size: calc(var(--font-2) * 0.6);
    }

    .form_edit input{
        display: flex;
        margin-bottom: 22px;
    }
    .form_edit select option{
        font-size: calc(var(--font-1) * 0.8);
    }
    .form_edit select, .back_contact button span{
        font-size: calc(var(--font-2) * 0.6);
        background-color: var(--w-100);
    }

    #name, #email, #category{
        width: 300px;
        border: 1px solid #CCCCCC;
    }
    #name, #email, #phone, #category:focus{
        outline: none;
    }

    #phone{
        width: 50%;
        border: 1px solid #CCCCCC;
    }
    
    .back_contact p{
        font-size: calc(var(--font-3)*0.6);
    }
    
}

@media screen and (min-width: 768px){
    img{
        border-radius: 100%;
        width: 224px;
        height: 224px;
        justify-content: center;
        align-items: center;
        margin-bottom: 18px;
    }
    .back_contact button span {
        font-size: var(--font-2);
    }
}

@media screen and (min-width: 1200px){
    .form_edit select option{
        font-size: calc(var(--font-2) * 0.6);
    }
}