@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url(variables.css);

.main-header{
    width: 100%;
    border-bottom: 1px solid --w-300;
    margin-top: 0 auto;
}
.main-header h1{
    font-size: 64px;
    font-weight: 500;
    margin-left: 68px;
    margin-right: 68px;
    font-family: 'Roboto', sans-serif;
}
