@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url(variables.css);

*{
    font-family: 'Roboto', sans-serif;
}

#id_name, #id_email, #id_category{
    width: 280px;
}

.back_bottom{
    display: flex;
    justify-content: left;
    width: 100%;
}

.back_contact {
    display: flex;
    flex-direction: row;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--w-100);
}
.back_contact a{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    color: black;
    justify-content: left;
    border-radius: 4px;
    background-color: var(--w-200);
}

.back_contact p{
    font-size: 12px;
}

.back_contact button{
    display: flex;
    justify-content: left;
    text-decoration: none;
    border: 0px;
    padding: 0px;
}

.form_create label{
    display: flex;
    margin-bottom: 8px;
}

.form_create input{
    display: flex;
    margin-bottom: 12px;
}

.card_image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--w-400);
    height: 110px;
    width: 110px;
    border-radius: 80px;
}

.card_image img{
    border-radius: 80px;
    width: 152px;
    height: 152px;
    display: flex;
    margin-right: 0px;
}

.box_create{
    margin: 0 auto 0 0;
    display: flex;
    flex-direction: column;
    background-color: var(--w-100);
    margin-left: 69px;
    margin-right: 69px;
    justify-content: center;
    align-items: center;

}

.form_create form{
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 320px){
    .card_image{
        border-radius: 100%;
        width: 300px;
        height: 300px;
        display: flex;
        margin-right: 0px;
    }

    .card_image span{
        font-size: calc(var(--font-3) * 0.8);
    }
    #id_name, #id_email, #id_category{
        width: 400px;
        font-size: calc(var(--font-3) * 0.8);
    }
    #id_phone{
        width: 50%;
        font-size: calc(var(--font-2) * 0.8);
    }
    label[for="id_name"], label[for="id_email"], label[for="id_category"], label[for="id_image"], label[for="id_phone"] {
        font-size: var(--font-2);
    }

    input#id_image{
        font-size: var(--font-2);
    }
    .main-header {
        margin-bottom: 16px;
        margin-top: 20px;
      }
      
    .main-header h1 {
        font-size: var(--font-2);
    }
    .form_create p{
        margin-bottom: var(--font-2);
    }
    .form_create #submit{
        margin-top: 24px;
        font-size: calc(var(--font-2) * 0.8);
    }
    .form-select option{
        font-size: 20px;
    }
    .back_bottom p, .material-symbols-outlined{
        font-size: var(--font-2);
    }
}

@media screen and (min-width: 768px){
    .card_image{
        border-radius: 100%;
        width: 250px;
        height: 250px;
        display: flex;
        margin-right: 0px;
    }

    .card_image span{
        font-size: var(--font-3);
    }
    #id_name, #id_email{
        width: 250px;
        font-size: var(--font-1);
    }
    #id_category{
        font-size: calc(var(--font-2) * 0.6);
        width: 250px;
    }
    #id_phone{
        width: 60%;
        font-size: var(--font-1);
    }
    label[for="id_name"], label[for="id_email"], label[for="id_category"], label[for="id_image"], label[for="id_phone"] {
        font-size: calc(var(--font-2) * 0.6);
    }

    input#id_image{
        font-size: var(--font-1);
    }
    .main-header {
        margin-bottom: 16px;
        margin-top: 20px;
      }
    .form_create p{
        margin-bottom: 16px;
    }
    .form_create #submit{
        margin-top: 24px;
        font-size: calc(var(--font-2) * 0.6);
    }
    .form-select option{
        font-size: calc(var(--font-2) * 0.6);
    }
    .back_bottom p, .material-symbols-outlined{
        font-size: var(--font-1);
    }
}
