@import url(variables.css);


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

a{
  background-color: var(--bl-100);
  color: var(--w-100);
  border-radius: 4px;
}

.step-links {
  display: flex;
  align-items: center;
}

.step-links a {
  padding: 5px 10px;
  text-decoration: none;
  color: var(--w-100);
  border: 1px solid var(--bl-100);
  margin: 0 2px;
}

.current {
  margin: 0 10px;
}

.step-links a:hover {
  background-color: var(--bl-100);
}