

.pagination {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    font-size: 16px;
  }
  
  .pagination .step-links {
    display: flex;
    gap: 4px;
  }
  
  .pagination .step-links a {
    text-decoration: none;
    display: block;
  }