@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url(variables.css);
/* CSS Principal Page (FIX(New Contact, Paginator and Search) */
*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: 0px;
    border-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    
}
.main-header{
    font-size: 12px;
    margin-bottom: 32px;
    width: 100%;
    border-bottom: 1px solid #F5F5F5;
    width: 100%;
}
.main-header h1{
    font-weight: 500;
    margin-left: 68px;
    margin-right: 68px;
    margin-bottom: 8px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.new_contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 69px;
    margin-left: 69px;
    margin-bottom: 20px;
    text-decoration: none;
}

.new_contact h1{
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;   
    border-bottom: 1px solid var(--bl-100);
    
}

.new_contact button{
    background-color: var(--bl-100); 
    border-radius: 4px;
    text-decoration-line: none;
}

.new_contact p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    border: none;
    text-decoration: none;
    text-decoration-line: none;
}

.new_contact button a {
    text-decoration: none;
}

.new_contact a{
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    height: 24px ;
    width: 94px;
}


.card_list {
    margin-right: 69px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
}

.card_contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 56px;
    gap:12px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
    margin-left: 69px;
    margin-right: 69px;
    align-items: center;
}

.card_button{
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-right: 12px;
    font-family: 'Roboto', sans-serif;
}

.card_button button{
    cursor: pointer;
}

.card_content{
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
}
.card_button button span{
    font-size: 14px;
    margin:0px;
    padding: 0px;
    border-radius: 10px;
    border: 0px;
    justify-content:center;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.card_button button span:nth-child(even) {
    background-color: var(--w-100);
  }
  

.card_button button span:nth-child(odd) {
    background-color: var(--w-200);
}



.card_button button{
    padding: 0px;
    border: 0px;
    align-items: center;
    background-color: var(--w-100);
    display: inline-block;
}

.card_contact:nth-child(even) {
    background-color: var(--w-100);
  }
  
  /* para elementos ímpares */
  .card_contact:nth-child(odd) {
    background-color: var(--w-200);
  }




.card_contact h4{
    font-size: 16px;
    font-weight: 500;
}
.card_contact h4, span{
    margin: 0px;
    display: inline-block;
}

.card_text span{
    margin-left: 16px;
    font-size: 10px;  
    font-weight: 300;
    color: var(--bl-100);
    border-radius: 10px;
    background-color: var(--w-500);
    justify-content: center;
    width: 44px;
    display: inline-flex;
}


.card_text p{
   color: var(--b-100);
}

.card_contact p{
    font-size: 10px;
    display: inline-block;
    margin-right: 28px;
}
.card_image img {
    border-radius: 32px;
    width: 55px;
    height: 52px;
    justify-content: center;
    align-items: center;
}
