@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url(variables.css);

*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: 0px;
    border-bottom: 0px;
    font-family: 'Roboto', sans-serif;
}

.default-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-2);
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 68
}

.search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    align-content: center;
    margin-left: 70px;
    margin-bottom: 12px;
}
.search form{
    border-radius: 2px;
    border-bottom: 1px solid var(--b-100);
}

input:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.search button{
    background-color: white;
    color: gray;
    cursor: pointer;
}

.new_contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 69px;
    margin-left: 69px;
    margin-bottom: 20px;
    text-decoration: none;
}

.new_contact h1{
    justify-content: center;
    align-items: center;
    font-size: calc(var(--font-2) * 0.6);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;   
    border-bottom: 1px solid var(--bl-100);
    
}

.new_contact button{
    background-color: var(--bl-100); 
    border-radius: 4px;
    text-decoration-line: none;
}

.new_contact p{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
    text-decoration-line: none;
}

.new_contact button a {
    text-decoration: none;
}

.new_contact a{
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    height: 24px ;
    width: 94px;
}

.card_list {
    margin-right: 69px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
}

.card_contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: clamp(80px,60vw,56px);
    gap:6px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
    margin-left: 69px;
    margin-right: 69px;
    align-items: center;

}

.card_button{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-right: 12px;
    font-family: 'Roboto', sans-serif;
}

.card_button button{
    cursor: pointer;
}

.card_content{
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
}
.card_button button span{
    font-size: calc(var(--font-1) * 0.8);
    border-radius: 10px;
    justify-content:center;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.card_button button span:nth-child(even) {
    background-color: var(--w-100);
  }
  
.card_button button span:nth-child(odd) {
    background-color: var(--w-200);
}

.card_button button{
    align-items: center;
    background-color: var(--w-100);
    display: inline-block;
}

.card_contact:nth-child(even) {
    background-color: var(--w-100);
  }
  

  .card_contact:nth-child(odd) {
    background-color: var(--w-200);
  }


.card_contact h4{
    font-size: var(--font-1);
    font-weight: 500;
}
.card_contact h4, span{
    margin: 0px;
    display: inline-block;
}

.card_text span{
    margin-left: 16px;
    font-size: calc(var(--font-1) * 0.8);
    font-weight: 300;
    color: var(--bl-100);
    border-radius: 10px;
    background-color: var(--w-500);
    justify-content: center;
    width: 44px;
    display: inline-flex;
}


.card_text p{
   color: var(--b-100);
}

.card_contact p{
    font-size: var(--font-1);
    display: inline-block;
    margin-right: 28px;
}

@media screen and (min-width: 320px){
    .default-contact{
        font-size: calc(var(--font-2)*0.6);
    }
    .card_contact{
        margin-left: 32px;
        margin-right: 32px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .search{
        justify-content: center;
        margin-left: 0px;
    }
    
    .new_contact{
        margin-left: 0px;
        margin-right: 0px;
    }

    img{
        width: 64px;
        height: 64px;
        border-radius:100%;
    }

    .card_contact span{
        margin-left: 0px;
    }
    .card_contact h4{
        font-size: var(--font-1);
    }
    
    .info_name{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        margin-top: 20px;
        margin-bottom: 6px;
        gap:10px
        
    }

    .info_contact{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-items: left;
        margin-bottom: 20px;
    }


    .new_contact{
        gap: 100px;
        justify-content: center;
        align-items: center;
    }

    .pagination{
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 768px){
    img {
        width: 90px;
        height: 90px;
        border-radius:100%;
    }
    .card_contact{
        margin-left: 44px;
        margin-right: 44px;
    }
    .card_button button span{
        font-size: calc(var(--font-2) * 0.6);
    }
    .card_contact h4{
        font-size: calc(var(--font-2) * 0.6);

    }
    .new_contact{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 44px;
        margin-right: 44px;
    }
    .search{
        justify-content: flex-start;
        margin-left: 44px;
    }
      
}
@media screen and (min-width: 1200px){
    .card_contact h4{
        font-size: calc(var(--font-2) * 0.6);
    }

    .card_contact{
        margin-left: 140px;
        margin-right: 140px;
        height: 100%;
    }

    .card_button button span{
        font-size: calc(var(--font-2) * 0.8);
    }
    .new_contact{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 144px;
        margin-right: 144px;
    }
    .search{
        margin-left: 144px;
    }
}