@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


:root{ 
    --w-100: #FFFFFF;
    --w-200: #FAFAFA;
    --w-300: #F5F5F5;
    --w-400: #F2F2F2;
    --w-500: #E5F0FF;
    --bl-100: #2F80ED;
    --b-100: #4F4F4F;
    --b-200: #1B1B1B;


    --font-1: 1rem;
    --font-2: 2rem;
    --font-3: 3rem;
 }
