{% block content %}
<table class="table">
    <thead>
        <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>PHONE</th>
        <th>DATE</th>
        <th>CATEGORY</th>
        </tr>
    </thead>
    <tbody>
        {% for contact in list %}
            <tr>
            <td>{{ contact.id }}</td>
            <td>
                <a href="{% url 'show_contact' contact.id  %}">{{ contact.name }}</a>
            </td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.phone }}</td>
            <td>{{ contact.date }}</td>
            <td>{{ contact.category }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock  %}
