{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <title>Lista de Contatos</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>

<body>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% if list %}
        <h1>Seus Contatos</h1>
        {% include 'parcials/_list_contacts.html' %}
    {% else %}
        {% if notlist %}
            <p>Nenhum Contato
        {% endif %}
    {% endif %}
    
    {% block content %}{% endblock  %}

</body>
</html>
