{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <title>Lista de Contatos</title>
    
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>

<body>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <header class="main-header">
        <h1>Contact List</h1>
    </header>
    <div class="new_contact">
        <h1>Your contacts</h1>
        <button>
            <a href="{% url 'new_contact' %}">
                <p>New Contact</p>
            </a>
        </button>
    </div>
    {% if contact_list %}      
        {% block content %}
            {% for contact in contact_list %}
                {% include 'list_components.html'%}
            {% endfor %}
        {% endblock %}

    {% else %}
        {% if not contact_list %}
            <p>Nenhum Contato</p>
        {% endif %}
    {% endif %}

</body>
</html>
